name: shedule echo2 for test

on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '*/6 * * * *'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - run: echo ${{ github.event_name }}
    - run: echo '${{ toJson(github.event) }}'
    - run: echo '${{ toJson(github.event) }}' > event.json
    - name: 'Upload Artifact'
      uses: actions/upload-artifact@v2
      with:
        name: event
        path: event.json
