name: Simple echo for test

on: 
  pull_request:
    branches: [ master ] 
  push:
    branches: [ master ]
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '5 3 * * *'


jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - env:
        GITHUB_CONTEXT: ${{ toJSON(github.event) }}
      run: echo "$GITHUB_CONTEXT"

