name: Simple echo for test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - run: echo ${{ github.event_name }}
    - run: echo ${{ toJson(github.event) }}
    - run: echo ${{ toJson(github.event) }} > event.json
    - name: 'Upload Artifact'
      uses: actions/upload-artifact@v2
      with:
        name: event
        path: event.json
