name: Simple echo for test

on: 
  push:
    branches: [ master ]
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '5 3 * * *'


jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - run: echo "${{ github.event}}"

