name: Verify snippets

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - run: echo ${{ join(github.event.commits.*.id, ' ' ) }}
    - run: ls
    - name: Set up JDK 
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
    - name: Run a verifier
      uses: AlexanderPrendota/kotlin-samples-verifier@ feat-reuse-pr
      with:
        io-event: ''
        repository: 'https://github.com/${{github.repository}}'
        push-repository: 'https://github.com/vmishenev/kotlin-compiler-server'
        tag-filter: '#tag="code" & kotlin-runnable="true"'
        push-path: 'src/test/resources/test-compile-data/kotlin-web-site'
        username: '${{ secrets.TOKEN }}'
        #start-commit: 'bec251e1a07d846078e29c71f2f7d2944b92773a' #${{ github.event.before }}
    - run: ls
